.navbarUl{
  width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  column-gap: 30px;
}

.navbarLi{
  /* width: 150px; */
}

.subNavbar{
  width: max-content;
  margin-top: 0px;
  padding: 0;
  display: none;
  list-style-type: none;
}

