.allNotes{
  margin: 10px 0;
  padding: 5px 0;
  width: 500px;
  background-color: #fff;
  display: flex;
}

#noteData{
  display: flex;
  flex-wrap: wrap;
}
.removeBtn{
  width: 30px;
  height: 30px;
  padding: 0px 6px;
  margin:0 7px;
  border: 1px solid #b10c0c;
  border-radius: 3px;
  background-color: rgb(122, 11, 11);
  color: #fff;
}
.taskCheckbox{
  margin-left: 20px;
}
.trashIcon{
  width: 15px;
}