table{
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: #fff;
}

table thead{
  background: linear-gradient(90deg, rgb(12, 8, 97) 0%, rgb(49, 49, 165) 35%);

  color: #fff;
}

table tbody tr:nth-child(even){
  background-color: rgb(230, 230, 238);
}

thead th{
  font-size: 20px;
  padding: 10px;
}

.avatarImg{
  padding: 5px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}